<!DOCTYPE html>
<html lang="en">
<head>	
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<a href='{{url_for('main')}}'class="btn btn-primary btn-lg active" role="button"> Return to main.</a></br>
		<a href='{{url_for('owners')}}'class="btn btn-primary btn-lg active" role="button"> Return to puppies.</a></br>
		{% for o in owner %}<br>	
			<div class="container">
			<h4>{{o.firstName}} {{o.lastName}}</h4>
			<h6>id#: {{o.owner_id}}</h6>
			{{o.address}}</br>
			{{o.city}}
			{{o.state}}  
			{{o.zipCode}}</br>
			</div>
		{% endfor %}
		<br><br><br>
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>
		<p>Confirm that you want to delete this owner from the database.
		<br>CANNOT BE UNDONE!</p>
		<button type='submit' class="btn btn-danger btn-xs">Delete</button>
		</form>
	</body>
</html>