<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<div>
		<legend>Edit Owner Information</legend>
		{% for o in owner %}
		<form method ='POST' actions='/puppyEdit' id='puppyEdit'>
			<label>{{o.firstName}}</label>
				<input type='text' textarea placeholder="{{o.firstName}}" name='firstName' required><br>
			<label>{{o.lastName}}</label>
				<input type='text' textarea placeholder="{{o.lastName}}" name='lastName' required><br>
			<label>{{o.address}}</label>
				<input type='text' textarea placeholder="{{o.address}}" name='address' required><br>
			<label>{{o.city}}</label>
				<input type='text' textarea placeholder="{{o.city}}" name='city' required>
			<label>{{o.state}}</label>
				<input type='text' placeholder="{{o.state}}" name='state' required>
			<label>{{o.zipCode}}</label>
				<input type='text' textarea placeholder="{{o.zipCode}}" name='zipCode' required><br>
			<label>{{o.email}}</label>
				<input type='text' textarea placeholder="{{o.email}}" name='email' required><br>
			<textarea name='needs' form='puppyEdit' placeholder="{{o.needs}}" required>
			</textarea> </br>
			{% endfor %}
			<input class="btn btn-success" type='submit' value='Edit'>
			<input class="btn btn-warning" type='reset' value='Reset'></br>
		</form>
		</br></br>
		<a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
		<a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
		<a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

		</div>
	</body>
</html>