{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for o in owner %}<br>	
			<div class="container">
			<h3>{{o.firstName}} {{o.lastName}}</h3>
			<a href='{{url_for('ownerEdit', owner_id = o.owner_id)}}'class="btn btn-warning btn-xs active" role="button">Edit</a>
			<a href='{{url_for('ownerDelete', owner_id = o.owner_id)}}'class="btn btn-danger btn-xs active" role="button">Delete</a>
			<h6>id#: {{o.owner_id}}</h6>
			{{o.address}}</br>
			{{o.city}}
			{{o.state}}  
			{{o.zipCode}}</br>
			{{o.email}}</br>
			<i>{{o.needs}}</i></br>
			
			<b>{{pups}}</b></br>
			<ul>
				{% for p in puppy %}
				<li><a href='{{url_for('puppyView', puppy_id = p.puppy_id)}}'class="btn btn-info btn-xs active" role="button">{{p.name}}</a></li>
				{% endfor %}
			</ul>
			</div>
			{% endfor %}
{% endblock %}