{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for o in owner %}<br>	
			<div class="container">
			<h4>{{o.firstName}} {{o.lastName}}</h4>
			<h6>id#: {{o.owner_id}}</h6>
			{{o.address}}</br>
			{{o.city}}
			{{o.state}}  
			{{o.zipCode}}</br>
			</div>
		{% endfor %}
		<br><br><br>
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>

		<button type='submit' class="btn btn-danger btn-lg">Confirm that you want to permanently delete this owner.
		<br>CANNOT BE UNDONE!</button>
		</form>
{% endblock %}