<!DOCTYPE html>
<html lang="en">
<head>	
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<a href='{{url_for('main')}}'class="btn btn-primary btn-sm active" role="button"> Return to main.</a></br>
		<a href='{{url_for('owners')}}'class="btn btn-primary btn-sm active" role="button"> Return to owners.</a></br>
		{% for o in owner %}<br>	
			<div class="container">
			<h4>{{o.name}}</h4>
			<h6>id#: {{o.owner_id}}</h6>
			{{o.address}}</br>
			{{o.city}}
			{{o.state}}  
			{{o.zipCode}}</br>
			Adopted Puppy ID: {{o.puppy_id}}
			</div>
		{% endfor %}
	</body>
</html>