<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<div>
		<legend>Edit Owner Information</legend>
		{% for o in owner %}
		<form method ='POST' actions='/puppyEdit'>
			<label>{{o.name}}</label>
				<input type='text' name='name'><br>
			<label>{{o.address}}</label>
				<input type='text' name='address'><br>
			<label>{{o.city}}</label>
				<input type='text' name='city'>
			<label>{{o.state}}</label>
				<input type='text' name='state'>
			<label>{{o.zipCode}}</label>
				<input type='text' name='zipCode'><br>
			<label>{{o.needs}}lbs</label>
				<input type='text' name='needs'><br>
			{% endfor %}
			<input class="btn btn-success" type='submit' value='Edit'>
			<input class="btn btn-warning" type='reset' value='Reset'></br>
		</form>
		</br></br>
		<a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
		<a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
		<a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

		</div>
	</body>
</html>