<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
    <body>
        <div>
        <legend>New Owner Profile</legend>
        <form method ='POST' actions='/ownerNew' id='ownerNew'>
            <label>Name</label>
                <input type='text' placeholder='Full Name' name='name' required><br>
            <label>Address</label>
                <input type='text' placeholder='Street Address' name='address'required><br>
            <label>City</label>
                <input type='text' placeholder='City' name='city' required><br>
            <label>State</label>
                <input type='text' placeholder='State' name='state' required><br>
            <label>ZIP</label>
                <input type='text' placeholder='xxxxx-xxxx or xxxxx' name='zipCode' required><br>
            <textarea rows="4" cols="50" name='needs'  form='ownerNew' required>Please tell us about your needs here...
                </textarea> </br> </br>
            <input class="btn btn-success" type='submit' value='Create'>
            <input class="btn btn-warning" type='reset' value='Reset'></br>
        </form>
        </br></br>
        <a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
        <a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
        <a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

        </div>
    </body>
</html>