{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for p in puppy %}<br>	
			<div class="container">
			<h4>{{p.name}}</h4>
			<h6>id#: {{p.puppy_id}}</h6>
			{{p.gender}}</br>
			born {{p.dateOfbirth}}</br>
			breed: {{p.breed}}</br>
			{{p.weight}} lbs</br>
			</div>
		{% endfor %}
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>
		<button type='submit' class="btn btn-danger btn-lg">Click here to permanently delete this puppy. </br> CANNOT BE UNDONE!</button>
		</form>
{% endblock %}