<!DOCTYPE html>
<html lang="en">
<head>	
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<a href='{{url_for('main')}}'class="btn btn-primary btn-lg active" role="button"> Return to main.</a></br>
		<a href='{{url_for('puppies')}}'class="btn btn-primary active" role="button"> Return to puppies.</a></br>
		{% for p in puppy %}<br>	
			<div class="container">
			<h4>{{p.name}}</h4>
			<h6>id#: {{p.puppy_id}}</h6>
			{{p.gender}}</br>
			born {{p.dateOfbirth}}</br>
			breed: {{p.breed}}</br>
			{{p.weight}} lbs</br>
			</div>
			<img src={{p.picture}} alt="picture">
		{% endfor %}
	</body>
</html>