<html>
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}"
</head>
	<body>
		{% for r in restaurant %}
		<fieldset>
		<legend>{{r.name}}</legend>
		<p>{{r.name}}
		{% endfor %}
		{%for i in items%}		
		{{i.name}} 
		<p>{{i.course}}<br>
		{{i.description}}<br>
		{{i.price}}<p>
		</fieldset>
		<br><br><br>
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>
		<p>Confirm that you want to delete the menu item.
		<br>CANNOT BE UNDONE!</p>
		<input type='submit' value='Delete'>
		</form>

		{% endfor %}
		{% for r in restaurant %}
		<a href='{{url_for('restaurantMenu', restaurant_id = r.restaurant_id)}}'>Cancel and return to menu.</a>
		{% endfor %}
	</body>
</html>