<html>
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}"
</head>
	<body>
		{% for r in restaurant %}
		<h2>{{r.name}}</h2>
		<a href='{{url_for('restaurants')}}'>Click here to return to list of Restaurants.</a></br>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li> <strong> {{message}} </strong> </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		<h3><a href='{{url_for('menuItemNew', restaurant_id = r.restaurant_id)}}'>*Click here to add New Item*</a></h3>
		{% endfor %}
		{% for i in items %}
		<h3>{{i.course}}</h3>
		<p>{{i.name}}</p>
		<p>{{i.description}}</p>
		<p>{{i.price}}</p>
		<a href='{{url_for('menuItemEdit', restaurant_id = i.restaurant_id, menu_id = i.menu_id)}}'>Edit</a>
		<a href='{{url_for('menuItemDelete', restaurant_id = i.restaurant_id, menu_id = i.menu_id)}}'>Delete</a>
		</br>
		</br>
		</br>
		</br>
		{% endfor %}
	</body>
</html>