<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<div>
		<legend>New Puppy</legend>
		<form method ='POST' actions='/puppyNew' enctype="multipart/form-data">
			{{ form.csrf_token }}
        <div class="form-group col-xs-4">
            <label for="puppy-name">Name</label>
            {{ form.name(class="form-control", placeholder="Name") }}
            {% if form.name.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group col-xs-6">
            <label for="puppy-shelter_id">Shelter (shelters with the most available spaces are at the top.)</label>
            {{ form.shelter_id(class="form-control") }}
            {% if form.shelter_id.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.shelter_id.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group col-xs-2">
            <label for="puppy-gender">Gender</label>
            {{ form.gender(class="form-control") }}
            {% if form.gender.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.gender.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-2">
            <label for="puppy-dateOfbirth">Date of Birth</label>
            {{ form.dateOfbirth(class="form-control") }}
            {% if form.dateOfbirth.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.dateOfbirth.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-4">
            <label for="puppy-breed">Breed</label>
            {{ form.breed(class="form-control", placeholder="Breed") }}
            {% if form.breed.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.breed.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-2">
            <label for="puppy-weight">Weight</label>
            {{ form.weight(class="form-control", placeholder="lbs") }}
            {% if form.weight.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.weight.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-6">
            <label for="puppy-picture">Picture</label>
            {{ form.picture(class="form-control", placeholder="path") }}
            {% if form.picture.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.picture.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
			<input class="btn btn-success" type='submit' value='Create'>
			<input class="btn btn-warning" type='reset' value='Reset'></br>
		</form>
		</br></br>
		<a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
		<a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
		<a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

		</div>
	</body>
</html>