<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<div>
		<legend>Edit Puppy</legend>
		{% for p in puppy %}
		<form method ='POST' actions='/puppyEdit'>
			<label>{{p.name}}</label>
				<input type='text' name='name'><br>
			<label>Current shelter: {{p.shelter_id}}</label>
				<select class='form-control' type='text' name='shelter_id' >
					{% for s in shelters %}
					<option value="{{ s.shelter_id }}" SELECTED>{{s.shelter_id}} {{s.name}}</option>
					{% endfor %}
				</select><br>
			<label>{{p.gender}}</label>
				<select class='form-control' type='text' name='gender' >
					<option value="male" SELECTED>male</option>
					<option value="female" SELECTED>female</option>
				</select><br>
			<label>Date of Birth{{p.dateOfbirth}}</label>
				<input type='text' name='dateOfbirth'><br>
			<label>{{p.breed}}</label>
				<input type='text' name='breed'><br>
			<label>Weight {{p.weight}}lbs</label>
				<input type='text' name='weight'><br>
			<label>Picture URL</label>
				<input type='text' name='picture'><br>
			{% endfor %}
			<input class="btn btn-success" type='submit' value='Edit'>
			<input class="btn btn-warning" type='reset' value='Reset'></br>
		</form>
		</br></br>
		<a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
		<a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
		<a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

		</div>
	</body>
</html>