<!DOCTYPE html>
<html lang="en">
<head>	
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<a href='{{url_for('main')}}'class="btn btn-primary active" role="button"> Return to main.</a></br>
		<a href='{{url_for('puppies')}}'class="btn btn-primary active" role="button"> Return to puppies.</a></br>
		{% for p in puppy %}<br>	
			<div class="container">
			<h3>{{p.name}}</h3>
			<a href='{{url_for('puppyEdit', puppy_id = p.puppy_id)}}'class="btn btn-warning btn-xs active" role="button">Edit</a>
			<a href='{{url_for('puppyDelete', puppy_id = p.puppy_id)}}'class="btn btn-danger btn-xs active" role="button">Delete</a>
			<h6>id#: {{p.puppy_id}}</h6>
			{{p.gender}}</br>
			born {{p.dateOfbirth}}</br>
			breed: {{p.breed}}</br>
			{{p.weight}} lbs</br>
			{% for s in shelter %}
			Shelter: {{s.name}}
			{% endfor %}
			{% for o in owner %}
			Adopter: {{o.firstName}} {{o.lastName}}
			{% endfor %}

			</div>
			<img src={{p.picture}} class="img-responsive" alt="Responsive image"></br>
			<a href='{{url_for('puppyAdopt', puppy_id = p.puppy_id, shelter_id = p.shelter_id)}}'class="btn btn-success btn-lg round active" role="button" {{att}}> Adopt!</a>
		{% endfor %}
	</body>
</html>