{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for s in shelter %}<br>	
			<div class="container">
			<h3>{{s.name}}</h3>
			<h6>id#: {{s.shelter_id}}</h6>
			{{s.address}}</br>
			{{s.city}}
			{{s.state}}  
			{{s.zipCode}}</br>
			<a href='{{s.website}}'>{{s.website}}</a></br>
			<h4>Maximum Capacity: <b>{{s.maximum_capacity}}</b></br>
			Spaces remaining: <b>{{s.remaining_spaces}}</b></h4>
			Puppies at this shelter:</br>
			{% for p in puppies %}
				<a href='{{url_for('puppyView', puppy_id = p.puppy_id)}}'class="btn btn-info btn-xs active" role="button">{{p.name}}</a></br>
			{% endfor %}
			</div>
		{% endfor %}
{% endblock %}