<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
    <body>
        <div>
        <legend>New Shelter</legend>
        <form method ='POST' actions='/shelterNew'>
            <label>Name</label>
                <input type='text' name='name'><br>
            <label>Address</label>
                <input type='text' name='address'><br>
            <label>City</label>
                <input type='text' name='city'><br>
            <label>State</label>
                <input type='text' name='state'><br>
            <label>ZIP</label>
                <input type='text' name='zipCode'><br>
            <label>Website</label>
                <input type='text' name='website'><br>
            <label>Capacity</label>
                <input type='text' name='maximum_capacity'><br>
            <input class="btn btn-success" type='submit' value='Create'>
            <input class="btn btn-warning" type='reset' value='Reset'></br>
        </form>
        </br></br>
        <a href='{{url_for('shelters')}}'class="btn btn-success btn-lg active" role="button"> Shelters.</a>
        <a href='{{url_for('puppies')}}'class="btn btn-success btn-lg active" role="button"> Puppies.</a>
        <a href='{{url_for('owners')}}'class="btn btn-success btn-lg active" role="button"> Owners.</a>

        </div>
    </body>
</html>