{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for s in shelter %}<br>	
			<div class="container">
			<h4>{{s.name}}</h4>
			<h6>id#: {{s.shelter_id}}</h6>
			{{s.address}}</br>
			{{s.city}}
			{{s.state}}  
			{{s.zipCode}}</br>
			{{s.website}}</br>
			</div>
		{% endfor %}
		<br><br><br>
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>
		<button type='submit' class="btn btn-danger btn-lg">Confirm that you want to permanently delete this shelter.<br>
		CANNOT BE UNDONE!</button>
		</form>
{% endblock %}