{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		<h1>Shelters</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li> <strong> {{message}} </strong> </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<a href='{{url_for('shelterNew')}}'class="btn btn-success btn-sm active" role="button"> To add a shelter, click here.</a></br></br>
		{% for s in shelters %}
			<div class="container">
			<a href='{{url_for('shelterView', shelter_id = s.shelter_id)}}'class="btn btn-info active" role="button">{{s.name}}</a>
			<p>
			{{s.address}}</br>
			{{s.city}}
			{{s.state}}  
			{{s.zipCode}}</br>
			<a href='{{s.website}}'>{{s.website}}</a></br>
			Maximum Capacity:{{s.maximum_capacity}}</br>
			Current Occupancy:{{s.current_occupancy}}
			<h2>Spaces remaining: {{s.remaining_spaces}}</h2>
			</p>
			<h5>
			
			<a href='{{url_for('shelterEdit', shelter_id = s.shelter_id)}}'class="btn btn-warning btn-xs active" role="button">Edit</a>
			<a href='{{url_for('shelterDelete', shelter_id = s.shelter_id)}}'class="btn btn-danger btn-xs active" role="button">Delete</a>
			</h5>
			</div>
			</br></br></br>
		{% endfor %}
{% endblock %}