{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
        <div>
        <legend>New Shelter</legend>
        <form method ='POST' actions='/shelterNew' enctype="multipart/form-data">
            {{ form.csrf_token }}
        <div class="form-group col-xs-4">
            <label for="shelter-name">Name</label>
            {{ form.name(class="form-control", placeholder="Name") }}
            {% if form.name.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-12">
            <label for="shelter-address">Address</label>
            {{ form.address(class="form-control", placeholder="Address") }}
            {% if form.address.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.address.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-4">
            <label for="shelter-city">City</label>
            {{ form.city(class="form-control", placeholder="City") }}
            {% if form.city.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.city.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-4">
            <label for="shelter-state">State</label>
            {{ form.state(class="form-control", placeholder="State") }}
            {% if form.state.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.state.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-4">
            <label for="shelter-zipCode">Zip</label>
            {{ form.zipCode(class="form-control", placeholder="Zip") }}
            {% if form.zipCode.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.zipCode.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-12">
            <label for="shelter-website">Website</label>
            {{ form.website(class="form-control", placeholder="enter url here") }}
            {% if form.website.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.website.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-xs-4">
            <label for="shelter-maximum_capacity">Maximum Capacity</label>
            {{ form.maximum_capacity(class="form-control", placeholder="Maximum Capacity") }}
            {% if form.maximum_capacity.errors %}
                <div class="alert alert-info" role="alert">
                    {% for error in form.maximum_capacity.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div>
        <input class="btn btn-success" type='submit' value='Create'>
        <input class="btn btn-warning" type='reset' value='Reset'>
        </div>
        </form>
        </div>
{% endblock %}