<!DOCTYPE html>
<html lang="en">
<head>	
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css') }}"
</head>
	<body>
		<a href='{{url_for('main')}}'class="btn btn-primary btn-lg active" role="button"> Return to main.</a></br>
		<a href='{{url_for('shelters')}}'class="btn btn-primary active" role="button"> Return to shelters.</a></br>
		{% for s in shelter %}<br>	
			<div class="container">
			<h4>{{s.name}}</h4>
			<h6>id#: {{s.shelter_id}}</h6>
			{{s.address}}</br>
			{{s.city}}
			{{s.state}}  
			{{s.zipCode}}</br>
			{{s.website}}</br>
			</div>
		{% endfor %}
	</body>
</html>